<!doctype html>
<html>
	<head>
	</head>
	<body>
		{% if results %}
		<h2>{{total[0]}} / {{total[1]}} cards in inventory.</h2>
		<form action='remove_cards' method='post'>
			<ul>
				{% for name, (cards,desired_count) in results.items() %}
				<li>
					{{name}}: {{cards|count}}/{{desired_count}}
					{% if cards %}
						<ul>
						{% for card in cards %}
						<li>
						{% if card.inventory_status == "present" %}
							<input type='checkbox' id='remove_{{card.rowid}}' name='remove_{{card.rowid}}'>
							{{card.set_name}}/{{card.name}} ({{card.condition}}, {{card.is_foil}}, {{card.language}}): box {{card.box}}, {{card.box_index}}
						{% else %}
							<input type='checkbox' disabled='disabled'>
							{{card.set_name}}/{{card.name}} ({{card.condition}}, {{card.is_foil}}, {{card.language}}): Temporarily out.
						{% endif %}
						</li>
						{% endfor %}
						</ul>
					{% endif %}
				</li>
				{% endfor %}
			</ul>

			<label for="reason">Reason: </label> <input type='text' name='reason' id='reason'><br>
			<p>
			Is Permanent?<br/>
			
			<label for='is_permanent_yes'>Yes</label><input type='radio' name='is_permanent' id='is_permanent_yes' value='yes'/><br/>
			<label for='is_permanent_no'>No</label><input type='radio' name='is_permanent' id='is_permanent_no' value='no'/><br/>
			
			</p>

			<input type='submit' text='Remove selected from boxes'>
		</form>
		<hr>


		{% endif %}


		<form action='fetch_decklist' method='get'>
			<textarea name='decklist' cols=30 rows=23>{{decklist or ""}}</textarea><br/>
			<input type='text' name='url'>
			<input type='submit' text="Search">
		</form>
	</body>
</html>
